{% extends "template.html" %}

{% block title %} Sleep Schedule {% endblock %}

{% block main %}
  <h1>Sleep Schedule </h1>

  <!-- Hidden, only used for js -->
  <h5>Current energy: {{ average }} of sleep (5 day aggregate).</h5>
  <h6>Your trend is {{ slope }} mins sleep per night</h6>
  <div id="times">
    {% for time in times %}
      <div>
      {% for item in time %}
        <div>{{ item }}</div>
      {% endfor %}
      </div>
    {% endfor %}
  </div>

  <canvas id="myChart" width="400" height="400"></canvas>
  <br>
  <br>
  <br>
{% endblock %}

{% block sub %}
  <h2>Hidden for now</h2>
{% endblock %}

{% block footer %}
  <p>Created by someone</p>
{% endblock %}
